
.border-none {
  border: none !important;
}

.choices {
  margin-bottom: 0px !important;
}

.lang-dot {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 6px;
    width: 6px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 0 3px #fff;
    box-shadow: 0 0 0 3px #fff;
}

.d-flex-custom {
  .form-control {
    width: unset !important;
  }
}

.choice-select {
  &.is-invalid {
    .choices {
      border: solid 1px #f34e4e;
      border-radius: .25rem;
    }

    .invalid-feedback {
      display: block;
    }
  }
}